SLACK_BOT_TOKEN=xoxb-********************************
AIRTABLE_TOKEN=pat***********************************
AIRTABLE_BASE_ID=appXXXXXXXXXXXXXX
AIRTABLE_TABLE_NAME=******
CHANNEL_PREFIX=******

# OPTIONAL
# TEST_MODE=false
# START_DATE=2025-10-01
# END_DATE=2025-10-24